@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Work+Sans&display=swap');
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    background-color: #121214;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .logo-image {
    display: flex;
    width: 50vw;
  }
/* Main*/
  .content {
    display: flex;
    flex-direction: column;
  }

  .primary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0px 30px;
  }

  .content-title {
    color: #04D361;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
  }

  .content-subtitle {
    color: #E1E1E6;
    font-family: "Spartan", sans-serif;
    font-weight: 700;
  }

  .content-text {
    color: #A8A8A8;
    font-family: "Spartan", sans-serif;
    font-weight: 500;
  }

  .secondary-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 48px;
    padding: 0px 20px;
    gap: 20px;
  }

  .form {
    display: flex;
    align-items: center;
  }

  label {
    color: #A8A8A8;
    font-family: "Spartan", sans-serif;
    font-weight: 400;
  }

  #email {
    width: 500px;
    height: 40px;
    margin-top: 20px;
  }

  .button {
    display: flex;
    width: 40px;
    height: 30px;
    background-color: #121214;
  }

/* Aside*/
  .aside-content {
    width: 50vw;
  }


  .content-image {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
  }

/* Tertiary Content*/
  .tertiary-content {
    display: flex;
    margin-top: 30px;
    padding: 0px 20px;
    align-content: center;
  }

  .link {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: #8257e5;
  }